# ------------------------------------------------------------------------------
#                           GENERAL SETTINGS
# ------------------------------------------------------------------------------
# Enable/Disable production mode
PRODUCTION=False
# Secret key used for signing cookies and tokens
DJANGO_SECRET_KEY=
# Simulate a pre-production environment (for testing purposes)
PRE_PRODUCTION=False

# ------------------------------------------------------------------------------
#                           NETWORKING & SECURITY
# ------------------------------------------------------------------------------
# Allowed hostnames for the application
HOSTS=
# Default frontend URL for the application (used in email functionality and redirects)
DEFAULT_FRONTEND=
# Allowed origins for Cross-Origin Resource Sharing (CORS)
CORS_ALLOWED=
# Trusted origins for CSRF protection
CSRF_TRUSTED=
# Domain name for session cookies (without leading dot in production)
SESSION_DOMAIN=
# Whether to force HTTPS/SSL redirects and secure cookies
USE_SSL=False

# ------------------------------------------------------------------------------
#                           DATABASE SETTINGS (PostgreSQL)
# ------------------------------------------------------------------------------
# Name of the database
DB_NAME=
# Database user name
DB_USER=
# Database password
DB_PASS=
# Database server host
DB_HOST=
# Database server port
DB_PORT=

# ------------------------------------------------------------------------------
#                           REDIS / CACHE SETTINGS
# ------------------------------------------------------------------------------
# Connection URL for Redis (used for events/gossiper.py and caching)
REDIS_URL=

# ------------------------------------------------------------------------------
#                           EMAIL SETTINGS
# ------------------------------------------------------------------------------
# Whether to enable email sending functionality
USE_EMAIL=False
# Email host from smtp service provider (e.g., smtp.resend.com)
EMAIL_HOST=
# Email port number (e.g., 587 for TLS)
EMAIL_PORT=
# Email host user from smtp service provider (e.g., resend)
EMAIL_HOST_USER=
# Email password or API key from smtp service provider
EMAIL_HOST_PASSWORD=
# Email address used as the sender for outgoing emails (e.g., mails.my-site.com)
EMAIL_DOMAIN=
# Email username to show in the "From" field of outgoing emails (e.g., My Site Mailer)
EMAIL_USERNAME=
